@import 'variables';
@import 'header';
@import 'stars';
@import 'card';

body {
  margin: 0;
  font-family: $font-main;
  background-color: $color-bg-page;
  color: $color-text-main;
}

.products-container {
  display: grid;
  gap: 46px 48px;
  padding: 50px 40px;
  margin: 0 auto;
  width: fit-content;
  grid-template-columns: 200px;

  @media (min-width: 488px) {
    grid-template-columns: repeat(2, 200px);
  }

  @media (min-width: 768px) {
    grid-template-columns: repeat(3, 200px);
  }

  @media (min-width: 1024px) {
    grid-template-columns: repeat(4, 200px);
  }
}
